DATABASE_URL_ADMIN=postgresql://admin:password@localhost:5432/project_dm
DATABASE_URL_WRITE=postgresql://writer:password@localhost:5432/project_dm
DATABASE_URL_READ=postgresql://reader:password@localhost:5432/project_dm
